<h1>User Tweets</h1>

<input id='twitter_handle' type='hidden' value='<%= @user.twitter_handle %>'></input>

<% if @tweets %>
  <%=erb :_tweets, :layout => false, :tweets => @tweets %>
<% else %>
  <div class="spinner">
    <%= erb :_spinner, :layout => false %>
  </div>
  <div class='user_tweets'></div>
  <script src="/js/user_profile.js"></script>
<% end %>


